def user = System.getenv('USER') ?: 'qiime2-user'
def baseScratch = "/srv/scratch/iai/bachcl/tmp/${user}"
new File(baseScratch).mkdirs()

singularity {
    enabled = true
    autoMounts = true

    runOptions = [
        "--bind /srv/scratch/iai",
        "--bind /srv/net/cluqumngs",
        "--env TMPDIR=${baseScratch}",
        "--env HOME=${baseScratch}"
    ].join(' ')
}


profiles {
    local {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '200 GB'
        process.maxForks = 1
    }
}


process {
    // Default process settings
    cpus = 1
    maxForks = 1
    memory = { 1.GB * (2 ** (task.attempt - 1)) }
    errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
    maxRetries = 2
    scratch = true
    env.QIIME2_DISABLE_PROVENANCE = "1"

    // maxForks labels
    withLabel: maxforks_low { maxForks = 2 }
    withLabel: maxforks_mid { maxForks = 4 }
    withLabel: maxforks_high { maxForks = 6 }

    // Memory labels
    withLabel: mem_low { memory = 4.GB }
    withLabel: mem_mid { memory = 50.GB }
    withLabel: mem_high { memory = 100.GB }

    // CPUs labels
    withLabel: cpus_low { cpus = 2 }
    withLabel: cpus_mid { cpus = 4 }
    withLabel: cpus_high { cpus = 6 }

    // Softwares labels
    withLabel: "fastqc" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/fastqc_v0.12.1.sif"
    }

    withLabel: "multiqc" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/multiqc_v1.33.sif"
    }

    withLabel: "fastp" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/fastp_v1.3.2.sif"
    }
    
    withLabel: "kraken2" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/kraken2_v2.17.1.sif"
    }
    
    withLabel: "seqkit" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/seqkit_v2.13.0.sif"
    }
    
    withLabel: "python" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/python_plot_parsing_3.11.sif"
    }
    
    withLabel: "krona" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/kronatools_2.8.1.sif"
    }

    withLabel: "qiime" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/qiime2-amplicon_krona_2024.10.sif"
    }
}


// -----------------------------------------------------------------------------
// Notes : Settings below are set by the `start_qiime2_amplicons.sh` script; 
//     values shown are indicative only and apply if the script is run directly. 
// -----------------------------------------------------------------------------

params {
    def sequencing_id = "YYYYMMDD"              //locally a date
    def analyse_id = new Date().format('yyyyMMdd')

    analyse_ID = "${analyse_id}"                //info for output files
    suffix = "${sequencing_id}"

    input_dir = "/srv/net/cluqumngs/BDD_COMMUN/Illumina/FASTQ/Legionella-Amplicons-${suffix}"                        //input folder
    result = "/srv/scratch/iai/bachcl/result/Legionella/23S-5S/${suffix}/${analyse_ID}_Qiime2-amplicons"             //output folder

    paired_end = true                           //analysis paths choice
    all_in_one = false
    adapters = false
    classifier = "sklearn"


    // -------------------------------------------------------------------------
    // Notes : Settings below are set by the `qiime2_amplicons.config` file.
    // -------------------------------------------------------------------------

    // FASTP
    min_quality = 30
    min_length = 100

    // KRAKEN2
    kraken2_db = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/Kraken2/20260820_pluspf"
    format_mpa = true                           //if false, bug for now

    // DADA2 DENOISING
    trim_left_f = 0                             //not used
    trim_left_r = 0                             //not used
    trunc_len_f = 148                           //if SE only trunc_len_f used
    trunc_len_r = 148
    reads_learn = 500000                        //error model
    fold_parents = 2
    min_reads = (params.all_in_one as Boolean) ? 0 : 5000

    // CLASSIFIER TRAINING
    db = "23s5sdb_V2.0.0"
    path_db = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/Qiime2/model_trained"
    reads = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/Qiime2/Merge_23S-5S_20260312_pub.fasta"
    taxa =  "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/Qiime2/23s5sdb_V2.0.0.tax"

    // TAXONOMIC CLASSIFICATION
    sklearn_confidence = 0.99
    blast_identity = 0.95
    blast_maxaccepts = 10
    blast_query_cov = 0.9
    vsearch_identity = 0.95
    vsearch_maxaccepts = 10
    vsearch_query_cov = 0
}

workDir = "${params.result}/work"
