def user = System.getenv('USER') ?: 'straincomparison-user'
def baseScratch = "/srv/scratch/iai/bachcl/tmp/${user}"

singularity {
    enabled = true
    autoMounts = true

    runOptions = [
        "--bind /srv/scratch/iai",
        "--bind /srv/net/cluqumngs",

        // IMPORTANT: ensure Nextflow temp is inside bound FS
        "--bind ${baseScratch}:${baseScratch}",

        "--cleanenv",
        "--no-home",
        "--containall",

        "--env TMPDIR=${baseScratch}",
        "--env NXF_TEMP=${baseScratch}",
        "--env NXF_SCRATCH=${baseScratch}",
        "--env HOME=${baseScratch}"
    ].join(' ')

    envWhitelist = "http_proxy,https_proxy,HTTP_PROXY,HTTPS_PROXY"
}


profiles {
    local {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '200 GB'
        process.maxForks = 1
    }
}


process {
    scratch = true

    withLabel: "fastp" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/fastp_v1.3.2.sif"
        maxForks = 3
        cpus = 5
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 4
    }

    withLabel: "python" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/python_plot_tree_3.11.sif"
        maxForks = 8
        cpus = 2
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withLabel: "snippy" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/snippy_v4.6.0.sif"
        maxForks = 4
        cpus = 4
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withLabel: "iqtree" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/iqtree_v3.1.3.sif"
        maxForks = 2
        cpus = 6
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withLabel: "gubbins" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/gubbins_v3.4.3.sif"
        maxForks = 2
        cpus = 2
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withLabel: "grapetree" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/grapetree_2.1.sif"
        ext.version = "2.6.0" // No opt version available
        
        maxForks = 3
        cpus = 2
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withLabel: "reportree" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/reportree_2.6.1.sif"
        maxForks = 2
        cpus = 8
        memory = { 40.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 2
    }
}


// -----------------------------------------------------------------------------
// Notes : Settings below are set by the `start_assembly_mlst.sh` script; 
//     values shown are indicative only and apply if the script is run directly. 
// -----------------------------------------------------------------------------

params {
    def comparison_id = "YYYYMMDD"              //locally a date
    def analyse_id = new Date().format('yyyyMMdd')

    analyse_ID = "${analyse_id}"                //info for output files
    suffix = "${comparison_id}"

    input = "/srv/scratch/iai/bachcl/Raw_fastq/Legionella/Strain_comparison/${suffix}"
    result = "/srv/scratch/iai/bachcl/result/Legionella/Strain_comparison/${suffix}/${analyse_ID}_Strain-Comparison"               //output folder

    adapters = true                             //analysis paths choice
    rep_zoom = "analyse"                        //"all", "none", "analyse" (all samples from metadata), one sample_ID, or comma-separated sample_IDs


    // INPUT
    metadata = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/Input_analysis_nextflow/Strains_${suffix}.tsv"
    snippy_dir = "/srv/scratch/iai/bachcl/db/legio/Snippy"

    // -------------------------------------------------------------------------
    // Notes : Settings below are set by the `assembly_mlst.config` file.
    // -------------------------------------------------------------------------

    // FASTA RESEARCH
    path_fasta = [
        "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_results/Genomes",
        "/srv/net/ngs-stockage/NGS_Bacteriologie/CNR_Legionella/Legionella/Genomes"
    ]
    fasta_prefix = false
    fasta_suffix = false
    fasta_ext = [
        ".fa",
        ".fasta",
        ".fas",
        ".fna",
        ".fsa",
        ".fsta",
        ".contigs500b.fasta"
    ]

    // FASTQ RESEARCH
    path_fastq = [
        "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/Raw_fastq/Genomes",
        "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/Raw_fastq/Strain_comparison",
        "/srv/net/ngs-stockage/NGS_Bacteriologie/CNR_Legionella/fastq/Legionella_Genomes"
    ]
    fastq_prefix = false
    fastq_suffix = [
        "*_R{1,2}_*",
        "*_R{1,2}",
        "*_{1,2}_*",
        "*_{1,2}"
    ]
    fastq_ext = [
        ".fastq.gz",
        ".fq.gz"
    ]

    // FASTP
    min_quality = 30
    min_length = 100

    // SNIPPY
    snippy_ref = [
        [
            st: 1,
            previous: "${snippy_dir}/ST1",
            ref: "${snippy_dir}/ST1_Lp-Paris_CR628336.1.fasta"
        ],
        [
            st: 23,
            previous: "${snippy_dir}/ST23",
            ref: "${snippy_dir}/ST23_Lp_HL04433031.fasta"
        ]
    ]
    snippy_opts = "--force --quiet"

    // IQTREE
    iqtree_bootstrap = 1000
    iqtree_alrt = 1000
    iqtree_model = "GTR+G"
    iqtree_color_by = "Origin"

    // GUBBINS
    gubbins_percent = 25

    // CHEWBBACA + GRAPETREE + REPORTREE
    chewbbaca_set = [
        [
            nb: 1521,
            genes: "/srv/scratch/iai/bachcl/db/legio/chewbbaca/1521cgMLST_LIT_20260724.txt",
            previous: "/srv/scratch/iai/bachcl/result/Legionella_global_results/summary_table_global.tsv",
            nomenclature: "none",
            grapetree: true,
            reportree: false
        ],
        [
            nb: 2009,
            genes: "/srv/scratch/iai/bachcl/db/legio/chewbbaca/2009cgMLST_LIT_20260724.txt",
            previous: "/srv/scratch/iai/bachcl/db/legio/ReporTree/Lp_4707genes_MLSTchewbbaca.tsv",
            nomenclature: "/srv/scratch/iai/bachcl/db/legio/ReporTree/Lp_4707genes_partitions.tsv",
            grapetree: false,
            reportree: true
        ]
    ]

    // GRAPETREE
    grape_model = "MSTreeV2"

    // REPORTREE
    rep_interest = 6                                //could be 1 value or a list of threshold or cluster name
    rep_site_inclusion = 1.0
    rep_min_allele = 6                              //int or "none" for all clusters 
    rep_max_allele = "none"                         //int or "none" for one cluster at rep_min_allele
    rep_loci_called = 0.95
    rep_col_metadata = "ST"
    rep_model = "MSTreeV2"
    rep_analysis = "grapetree"
}

workDir = "${params.result}/work"