singularity {
    enabled = true
    autoMounts = true

    runOptions = [
        "--cleanenv",
        "--no-home",
        "--containall",

        "--bind /srv/scratch/iai",
        "--bind /srv/net/cluqumngs",
        "--bind /srv/scratch/SLURM",
        "--bind /srv/scratch/DEPOT"
    ].join(' ')
    envWhitelist = "http_proxy,https_proxy,HTTP_PROXY,HTTPS_PROXY"
}


profiles {
    local {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '200 GB'
        process.maxForks = 1
    }

    slurm {
        process.executor = 'slurm'

        process.queue   = 'diag_iai'
        process.cpus    = 4
        process.memory  = '200 GB'
        process.time    = '24h'
        process.maxForks = 1

        process.clusterOptions = "--account=iai --partition=diag_iai"
    }
}


process {
    scratch = true

    withLabel: "fastqc" {
        container = "/srv/scratch/iai/bachcl/singularity/fastqc_v0.12.1.sif"
        maxForks = 5
        cpus = 1
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withLabel: "multiqc" {
        container = "/srv/scratch/iai/bachcl/singularity/multiqc_v1.33.sif"
        maxForks = 1
        cpus = 1
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withLabel: "fastp" {
        container = "/srv/scratch/iai/bachcl/singularity/fastp_v1.3.2.sif"
        maxForks = 4
        cpus = 2
        memory = { 2.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 4
    }

    withLabel: "bbtools" {
        container = "/srv/scratch/iai/bachcl/singularity/bbtools_v39.81.sif"
        maxForks = 2
        cpus = 8
        memory = { 90.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 2
    }
    
    withLabel: "seqkit" {
        container = "/srv/scratch/iai/bachcl/singularity/seqkit_v2.13.0.sif"
        maxForks = 2
        cpus = 1
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }
    
    withLabel: "kraken2" {
        container = "/srv/scratch/iai/bachcl/singularity/kraken2_v2.17.1.sif"
        maxForks = 2
        cpus = 6
        memory = { 90.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 2
    }
    
    withLabel: "python" {
        container = "/srv/scratch/iai/bachcl/singularity/python_plot_parsing_3.11.sif"
        maxForks = 4
        cpus = 4
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }
    
    withLabel: "krona" {
        container = "/srv/scratch/iai/bachcl/singularity/kronatools_2.8.1.sif"
        maxForks = 4
        cpus = 4
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }
    
    withLabel: "elgato" {
        container = "/srv/scratch/iai/bachcl/singularity/elgato_1.22.0.sif"
        maxForks = 2
        cpus = 4
        memory = { 50.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withLabel: "minimap2" {
        container = "/srv/scratch/iai/bachcl/singularity/minimap2_2.31.sif"
        maxForks = 2
        cpus = 8
        memory = { 90.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 2
    }

    withLabel: "samtools" {
        container = "/srv/scratch/iai/bachcl/singularity/samtools_1.23.1.sif"
        maxForks = 2
        cpus = 4
        memory = { 50.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withLabel: "freebayes" {
        container = "/srv/scratch/iai/bachcl/singularity/freebayes_1.3.10.sif"
        maxForks = 2
        cpus = 4
        memory = { 50.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withLabel: "bcftools" {
        container = "/srv/scratch/iai/bachcl/singularity/bcftools_1.23.1.sif"
        maxForks = 2
        cpus = 4
        memory = { 50.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withLabel: "snpeff" {
        container = "/srv/scratch/iai/bachcl/singularity/snpeff_5.4c.sif"
        maxForks = 2
        cpus = 4
        memory = { 50.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withLabel: "momps" {
        ext.version = "29/01/2017" // No opt version available
        
        container = "/srv/scratch/iai/bachcl/singularity/momps_2026_05_22.sif"
        maxForks = 2
        cpus = 4
        memory = { 50.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 3
    }
    
    withLabel: "spades" {
        container = "/srv/scratch/iai/bachcl/singularity/spades_4.2.0.sif"
        maxForks = 2
        cpus = 8
        memory = { 90.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 2
    }

    withLabel: "quast" {
        container = "/srv/scratch/iai/bachcl/singularity/quast_5.3.0.sif"
        maxForks = 5
        cpus = 1
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withLabel: "fastani" {
        container = "/srv/scratch/iai/bachcl/singularity/fastani_1.34.sif"
        maxForks = 2
        cpus = 4
        memory = { 50.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withLabel: "chewbbaca" {
        container = "/srv/scratch/iai/bachcl/singularity/chewbbaca_3.3.10.sif"
        maxForks = 2
        cpus = 4
        memory = { 50.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 3
    }

    withLabel: "grapetree" {
        container = "/srv/scratch/iai/bachcl/singularity/grapetree_2.1.sif"
        ext.version = "2.6.0" // No opt version available
        
        maxForks = 5
        cpus = 1
        memory = { 1.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 5
    }

    withLabel: "reportree" {
        container = "/srv/scratch/iai/bachcl/singularity/reportree_2.6.1.sif"
        maxForks = 2
        cpus = 8
        memory = { 90.GB * (2 ** (task.attempt - 1)) }

        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
        maxRetries = 2
    }
}


// Can change anything except the params name
params {
    // TODO: adapt to SLURM folders hierarchy
    input_dir_prefix  = "/srv/net/cluqumngs/BDD_COMMUN/Illumina/FASTQ"
    output_dir_prefix = "/srv/autofs/nfs4/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_results/Genomes"
    save_dir_prefix   = "/srv/autofs/nfs4/cluqumngs/TMP_IAI/04_CNR_Legionella/Raw_fastq/Genomes"
    tmp_dir_prefix    = "/srv/scratch/iai/bachcl/Raw_fastq/Legionella/Genomes"
    work_dir_prefix   = "/srv/scratch/iai/bachcl/result/Legionella/Genomes"

    def analyse_id = new Date().format('yyyyMMdd')
    
    // User params
    suffix = ""
    
    // Analysis paths choice
    paired_end = true
    adapters = true
    decontamination = false
    downsampling = false
    momps = false
    snpeff_other = false
    rep_zoom = "none"        //"all", "none", "analyse" or one/more sample_ID

    // Derivated path
    input_dir  = "${params.input_dir_prefix}/Legionella-Amplicons-${params.suffix}"
    output_dir = "${params.output_dir_prefix}/${params.suffix}/${params.analyse_id}_Assembly-MLST"
    save_dir   = "${params.save_dir_prefix}/${params.suffix}"
    tmp_dir    = "${params.tmp_dir_prefix}/${params.suffix}"
    result     = "${params.work_dir_prefix}/${params.suffix}/${params.analyse_id}_Assembly-MLST"


    // REFORMAT
    bbtools_downsampled = 0.5                   //percent of reads kept

    // FASTP
    min_quality = 30
    min_length = 100

    // BBWRAP
    bbwrap_ref       = ""                       //if empty, bbwrap_path used
    bbwrap_path      = "/srv/scratch/iai/seqmet/db/bbmap/hg38/"
    bbwrap_min_id    = 0.95
    bbwrap_max_indel = 3
    bbwrap_bwr       = 0.16
    bbwrap_bw        = 12
    bbwrap_min_hits  = 2
    bbwrap_qtrim     = "rl"
    bbwrap_trimq     = 10
    bbwrap_qin       = 33

    // KRAKEN2
    kraken2_db = "/srv/scratch/iai/bachcl/db/kraken2/pluspf"
    format_mpa = true                           //if false, bug for now

    // EL GATO
    spp_target = "Legionella pneumophila"       //Kraken2 specie name
    min_ratio_target = 0.8
    min_ratio_legio = 0.9
    min_ratio_legia = 0.8
    elgato_depth = 1

    // MINIMAP2
    minimap_ref = "/srv/scratch/iai/bachcl/db/legio/abt_resistance.fasta"
    minimap_frag = "yes"
    minimap_optF = 2000
    minimap_optk = 21
    minimap_optw = 11
    minimap_optA = 2
    minimap_optB = 8
    minimap_optO = "12,32"
    minimap_optE = "2,1"
    minimap_optr = 100
    minimap_optp = ".5"
    minimap_optN = 5
    minimap_optf = "1000,5000"
    minimap_optn = 3
    minimap_optm = 40
    minimap_opts = 40
    minimap_optg = 1000
    minimap_optheap = "yes"
    minimap_optsec = "no"

    // FREEBAYES
    freeb_targets = "/srv/scratch/iai/bachcl/db/legio/abt_resistance.bed"
    freeb_theta = 0.001
    freeb_ploidy = 1
    freeb_best_n = 2
    freeb_haplo_len = 1
    freeb_max_it = 10
    freeb_max_dep = 4
    freeb_min_mapqual = 1
    freeb_min_basequal = 0
    freeb_min_var = 4
    freeb_min_dep = 10

    // BCFTOOLS - filters
    bcf_min_freq = 0.05
    bcf_saf = 2
    bcf_sar = 2
    bcf_qa = 80

    // SNPEFF
    snpeff_amr_config = "/srv/scratch/iai/bachcl/singularity/bachcl/opt/conda/envs/bachcl/share/snpeff-5.0-1/snpEff.config"
    snpeff_amr_scheme = "Legio_ATB"
    snpeff_other_config = ""
    snpeff_other_scheme = ""

    // SPADES + SEQKIT
    min_length_contig = 500

    // FASTFINDER, should NOT contain "/"
    fastfinder_desc = "Instrument ID(s),Analysis authorized by,AssayResultTargetCode"
    fastfinder_value = "NB5523331,Nextseq_IAI,WGS_SBT"

    // FASTANI
    fastani_genomes = "/srv/scratch/iai/bachcl/db/legio/fastani/liste_81_20260707.txt"
    fastani_min = 95

    // CHEWBBACA + GRAPETREE
    lb_set = [
        [
            genes: "/srv/scratch/iai/bachcl/db/legio/chewbbaca/2608cgMLST_20260521_3-3-10",
            ptf: "/srv/scratch/iai/bachcl/db/legio/chewbbaca/2608cgMLST_20260521_3-3-10/Legionella_longbeachae.trn",
            nb: 2608,
            grapetree: true,
            reportree: false
        ]
    ]
    lp_set = [
        [
            genes: "/srv/scratch/iai/bachcl/db/legio/chewbbaca/1521cgMLST_20260_3-3-10/schema",
            ptf: "/srv/scratch/iai/bachcl/db/legio/chewbbaca/1521cgMLST_20260_3-3-10/Legionella_pneumophila.trn",
            nb: 1521,
            grapetree: true,
            reportree: false
        ],
        [
            genes: "/srv/scratch/iai/bachcl/db/legio/chewbbaca/4707cgMLST_20260521_3-3-10/L_pneumophila_wgMLST_schema",
            ptf: "/srv/scratch/iai/bachcl/db/legio/chewbbaca/4707cgMLST_20260521_3-3-10/L_pneumophila_wgMLST_schema/Legionella_pneumophila.trn",
            lit: "/srv/scratch/iai/bachcl/db/legio/chewbbaca/4707cgMLST_20260521_3-3-10/cgMLST_Legionella_pneumophila_LIT.txt",
            nb: 4707,
            grapetree: false,
            reportree: true
        ]
    ]

    // REPORTREE
    rep_metadata = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/Input_analysis_nextflow/Metadata_${suffix}.tsv"
    rep_partition = "/srv/scratch/iai/bachcl/db/legio/ReporTree"
    rep_interest = 6                                //could be 1 value or a list of threshold or cluster name
    rep_site_inclusion = 1.0
    rep_min_allele = 5                              //int or if no threshold "none"  
    rep_max_allele = 8
    rep_loci_called = 0.95
    rep_col_metadata = "ST"

    // SPECIFIC ALLELES
    alleles_set = [
        [
            id: "lpLIT0656",
            name: "lag"
        ],
        [
            id: "lpLIT2833",
            name: "lpeA"
        ],
        [
            id: "lpLIT2834",
            name: "lpeB"
        ]
    ]

}

// Derivated path for Work_dir
workDir = "${params.work_dir_prefix}/${params.suffix}/${params.analyse_id}_Assembly-MLST/work"
