singularity {
    enabled = true
    autoMounts = true               //if false, workdir not found
    runOptions = "--bind ${HOME}"   //needed for matplotlib cache
}

executor {
  local {
      queueSize = 16
      cpus = 16
      memory = 600.GB
  }
}

process {
    withLabel: "fastqc" {
        container = "/srv/scratch/iai/bachcl/singularity/fastqc_v0.12.1.sif"
        maxForks = 4
        cpus = 2
        memory = 10.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "multiqc" {
        container = "/srv/scratch/iai/bachcl/singularity/multiqc_v1.33.sif"
        maxForks = 1
        cpus = 5
        memory = 50.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "bbtools" {
        container = "/srv/scratch/iai/bachcl/singularity/bbtools_v39.81.sif"
        maxForks = 2
        cpus = 8
        memory = 150.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "seqkit" {
        container = "/srv/scratch/iai/bachcl/singularity/seqkit_v2.13.0.sif"
        maxForks = 2
        cpus = 8
        memory = 100.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "kraken2" {
        container = "/srv/scratch/iai/bachcl/singularity/kraken2_v2.17.1.sif"
        maxForks = 2
        cpus = 8
        memory = 150.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "python" {
        container = "/srv/scratch/iai/bachcl/singularity/python_plot_3.11.sif"
        maxForks = 4
        cpus = 4
        memory = 80.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "krona" {
        container = "/srv/scratch/iai/bachcl/singularity/kronatools_2.8.1.sif"
        maxForks = 4
        cpus = 4
        memory = 80.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "flash" {
        container = "/srv/scratch/iai/bachcl/singularity/flash_v1.2.11.sif"
        maxForks = 2
        cpus = 8
        memory = 150.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "blast" {
        container = "/srv/scratch/iai/bachcl/singularity/blast_v2.17.0.sif"
        maxForks = 2
        cpus = 8
        memory = 150.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "fastp" {
        container = "/srv/scratch/iai/bachcl/singularity/fastp_v1.3.2.sif"
        maxForks = 4
        cpus = 4
        memory = 80.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "vsearch" {
        container = "/srv/scratch/iai/bachcl/singularity/vsearch_v2.30.6.sif"
        maxForks = 4
        cpus = 4
        memory = 80.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }

    // multiple publishDir but same process 
    withName: 'MPA_FAMILY_BARPLOT' {
        publishDir = [
            [
                path: { "${params.result}/dev/1_Kraken2" },
                pattern: "*_familyBarplot.tsv",
                mode: 'copy'
            ],
            [
                path: { "${params.result}/1_Kraken2" },
                pattern: "*_familyBarplot.png",
                mode: 'copy'
            ]
        ]
    }
}

params {
    // Notes : Settings below are set by the `start_blast_amplicons.sh` script; 
    //         values shown are indicative only and apply if the script is run directly. 
    
    def sequencing_id = "YYYYMMDD"              //locally a date
    def analyse_id = new Date().format('yyyyMMdd')
    
    suffix = "${sequencing_id}"                 //suffix for output files

    input_dir = "/srv/net/cluqumngs/BDD_COMMUN/Illumina/FASTQ/Legionella-Amplicons-${sequencing_id}"                        //input folder
    workDir = "/srv/scratch/iai/bachcl/result/Legionella/23S-5S/${sequencing_id}/${analyse_id}_Blast-amplicons/work"        //working directory
    result = "/srv/scratch/iai/bachcl/result/Legionella/23S-5S/${sequencing_id}/${analyse_id}_Blast-amplicons"              //output folder

    paired_end = true                           //analysis paths choice
    adapter = true
    decontamination = false
    downsampling = false
    kraken2_assign = true

    // REFORMAT
    bbtools_downsampled = 0.5                   //percent of reads kept


    // -------------------------------------------------------------------------
    // Notes : Settings below are set by the `blast_amplicons.config` file.
    // FASTP
    min_quality = 30
    min_length = 50

    // BBWRAP
    bbwrap_ref = ""                             //if empty, bbwrap_path used
    bbwrap_path = "/srv/scratch/iai/seqmet/db/bbmap/hg38/"
    bbwrap_min_id = 0.95
    bbwrap_max_indel = 3
    bbwrap_bwr = 0.16
    bbwrap_bw = 12
    bbwrap_min_hits = 2
    bbwrap_qtrim = "rl"
    bbwrap_trimq = 10
    bbwrap_qin = 33

    // KRAKEN2
    kraken2_db = "/srv/scratch/iai/bachcl/db/kraken2/pluspf"
    format_mpa = true                           //if false, remove MPA_* processes

    // MERGED READS
    min_overlap = 5
    max_overlap = 148
    dovetail_overlap = true

    // BLAST
    blast_db = "/srv/scratch/iai/bachcl/db/legio/Blast_DB_23S-5S/20260312_23S-5S_3copiescleaned"
    perc_id = 95                                //minimum percentage of identity (strict filter)
    loose_id = 85                               //minimum percentage of identity (loose filter)
    query_cov = 85                              //minimum query coverage per HSP (strict filter)
    loose_cov = 75                              //minimum query coverage per HSP (loose filter)
    min_qlen = 150                              //minimum query length (strict filter)
    loose_qlen = 100                            //minimum query length (loose filter)
    delta_bitscore = 5                          //max bitscore delta for ambiguous hits
}
