singularity {
    enabled = true
    autoMounts = true               //if false, workdir not found
    runOptions = "--bind ${HOME}"   //needed for matplotlib cache
}

executor {
  local {
      queueSize = 16
      cpus = 16
      memory = "600 GB"
  }
}

process {
    withLabel: "fastqc" {
        container = "/srv/scratch/iai/bachcl/singularity/fastqc_v0.12.1.sif"
        maxForks = 4
        cpus = 2
        memory = 10.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "multiqc" {
        container = "/srv/scratch/iai/bachcl/singularity/multiqc_v1.33.sif"
        maxForks = 1
        cpus = 5
        memory = 50.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "fastp" {
        container = "/srv/scratch/iai/bachcl/singularity/fastp_v1.3.2.sif"
        maxForks = 4
        cpus = 4
        memory = 80.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: "qiime" {
        container = "/srv/scratch/iai/bachcl/singularity/qiime2-amplicon_krona_2024.10.sif"
        maxForks = 4
        cpus = 4
        memory = 75.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
}

params {
    // Notes : Settings below are set by the `start_qiime2_amplicons.sh` script; 
    //         values shown are indicative only and apply if the script is run directly. 
    
    def sequencing_id = "YYYYMMDD"              //locally a date
    def analyse_ID = new Date().format('yyyyMMdd')
    
    suffix = "${sequencing_id}"                 //suffix for output files

    input_dir = "/srv/net/cluqumngs/BDD_COMMUN/Illumina/FASTQ/Legionella-Amplicons-${sequencing_id}"                        //input folder
    workDir = "/srv/scratch/iai/bachcl/result/Legionella/23S-5S/${sequencing_id}/${analyse_ID}_Qiime2-amplicons/work"       //working directory
    result = "/srv/scratch/iai/bachcl/result/Legionella/23S-5S/${sequencing_id}/${analyse_ID}_Qiime2-amplicons"             //output folder

    paired_end = true                           //analysis paths choice
    all_in_one = true
    adapters = true


    // -------------------------------------------------------------------------
    // Notes : Settings below are set by the `qiime2_amplicons.config` file.
    // FASTP
    min_quality = 30
    min_length = 100

    // DADA2 DENOISING
    trim_left_f = 0                             //not used
    trim_left_r = 0                             //not used
    trunc_len_f = 148                           //if SE only trunc_len_f used
    trunc_len_r = 148
    n_threads = 15
    reads_learn = 500000                        //error model
    fold_parents = 2

    // CLASSIFIER TRAINING
    db = "23s5sdb_V2.0.0"
    reads = "/srv/scratch/iai/bachcl/nextflow_pipeline_legio/assets/qiime2_amplicons/Merge_23S-5S_20260312_pub.fasta"
    taxa =  "/srv/scratch/iai/bachcl/nextflow_pipeline_legio/assets/qiime2_amplicons/23s5sdb_V2.0.0.tax"

    // TAXONOMIC CLASSIFICATION
    confidence = 0.99
    n_jobs = 3
}
