def user = System.getenv('USER') ?: 'assemblymlst-user'
def baseScratch = "/srv/scratch/iai/bachcl/tmp/${user}"
new File(baseScratch).mkdirs()

singularity {
    enabled = true
    autoMounts = true

    runOptions = [
        "--bind /srv/scratch/iai",
        "--bind /srv/net/cluqumngs",

        // IMPORTANT: ensure Nextflow temp is inside bound FS
        "--bind ${baseScratch}:${baseScratch}",

        "--cleanenv",
        "--no-home",
        "--containall",

        "--env TMPDIR=${baseScratch}",
        "--env NXF_TEMP=${baseScratch}",
        "--env NXF_SCRATCH=${baseScratch}",
        "--env HOME=${baseScratch}"
    ].join(' ')

    envWhitelist = "http_proxy,https_proxy,HTTP_PROXY,HTTPS_PROXY"
}


profiles {
    local {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '200 GB'
        process.maxForks = 6
    }
}


process {
    // Default process settings
    cpus = 1
    maxForks = 1
    memory = { 1.GB * (2 ** (task.attempt - 1)) }
    errorStrategy = { task.exitStatus == 137 ? 'retry' : 'terminate' }
    maxRetries = 2
    scratch = true

    // maxForks labels
    withLabel: maxforks_low { maxForks = 2 }
    withLabel: maxforks_mid { maxForks = 4 }
    withLabel: maxforks_high { maxForks = 6 }

    // Memory labels
    withLabel: mem_low { memory = 4.GB }
    withLabel: mem_mid { memory = 50.GB }
    withLabel: mem_high { memory = 100.GB }

    // CPUs labels
    withLabel: cpus_low { cpus = 2 }
    withLabel: cpus_mid { cpus = 4 }
    withLabel: cpus_high { cpus = 6 }

    // Softwares labels
    withLabel: "fastqc" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/fastqc_v0.12.1.sif"
    }

    withLabel: "multiqc" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/multiqc_v1.33.sif"
    }

    withLabel: "fastp" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/fastp_v1.3.2.sif"
    }

    withLabel: "bbtools" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/bbtools_v39.81.sif"
    }
    
    withLabel: "seqkit" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/seqkit_v2.13.0.sif"
    }
    
    withLabel: "kraken2" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/kraken2_v2.17.1.sif"
    }
    
    withLabel: "python" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/python_plot_parsing_3.11.sif"
    }
    
    withLabel: "krona" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/kronatools_2.8.1.sif"
    }
    
    withLabel: "elgato" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/elgato_1.23.0.sif"
    }

    withLabel: "minimap2" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/minimap2_2.31.sif"
    }

    withLabel: "samtools" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/samtools_1.23.1.sif"
    }

    withLabel: "freebayes" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/freebayes_1.3.10.sif"
    }

    withLabel: "bcftools" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/bcftools_1.23.1.sif"
    }

    withLabel: "snpeff" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/snpeff_5.4c.sif"
    }

    withLabel: "momps" {
        ext.version = "29/01/2017" // No opt version available
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/momps_2026_05_22.sif"
    }
    
    withLabel: "spades" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/spades_4.2.0.sif"
    }

    withLabel: "quast" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/quast_5.3.0.sif"
    }

    withLabel: "fastani" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/fastani_1.34.sif"
    }

    withLabel: "chewbbaca" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/chewbbaca_3.3.10.sif"
    }

    withLabel: "grapetree" {
        ext.version = "2.6.0" // No opt version available
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/grapetree_2.1.sif"
    }

    withLabel: "reportree" {
        container = "/srv/scratch/iai/bachcl/singularity/nextflow_pipeline_legio/reportree_2.6.1.sif"
    }
}


// -----------------------------------------------------------------------------
// Notes : Settings below are set by the `start_assembly_mlst.sh` script; 
//     values shown are indicative only and apply if the script is run directly. 
// -----------------------------------------------------------------------------

params {
    def sequencing_id = "YYYYMMDD"              //locally a date
    def analyse_id = new Date().format('yyyyMMdd')

    analyse_ID = "${analyse_id}"                //info for output files
    suffix = "${sequencing_id}"

    input_dir = "/srv/net/cluqumngs/BDD_COMMUN/Illumina/FASTQ/Legionella-${suffix}"                                  //input folder
    result = "/srv/scratch/iai/bachcl/result/Legionella/Genomes/${suffix}/${analyse_ID}_Assembly-MLST"               //output folder

    paired_end = true                           //analysis paths choice
    adapters = true
    decontamination = false
    downsampling = false
    momps = false
    snpeff_other = false
    rep_zoom = "none"                        //"all", "none", "analyse" (all samples from metadata), one sample_ID, or comma-separated sample_IDs

    // REPORTREE
    rep_metadata = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/Input_analysis_nextflow/Metadata_${suffix}.txt"
    rep_partition = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/ReporTree"

    // REFORMAT
    bbtools_downsampled = 0.5                   //percent of reads kept


    // -------------------------------------------------------------------------
    // Notes : Settings below are set by the `assembly_mlst.config` file.
    // -------------------------------------------------------------------------

    // FASTP
    min_quality = 30
    min_length = 100

    // BBWRAP
    bbwrap_ref       = ""                       //if empty, bbwrap_path used
    bbwrap_path      = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/BBmap/GRCh38/"
    bbwrap_min_id    = 0.95
    bbwrap_max_indel = 3
    bbwrap_bwr       = 0.16
    bbwrap_bw        = 12
    bbwrap_min_hits  = 2
    bbwrap_qtrim     = "rl"
    bbwrap_trimq     = 10
    bbwrap_qin       = 33

    // KRAKEN2
    kraken2_db = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/Kraken2/20260820_pluspf"
    format_mpa = true                           //if false, bug for now

    // EL GATO
    spp_target = "Legionella pneumophila"       //Kraken2 specie name
    min_ratio_target = 0.8
    min_ratio_legio = 0.9
    min_ratio_legia = 0.8
    elgato_depth = 1

    // MINIMAP2
    minimap_ref = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/AMR/abt-resistance_20260820.fasta"
    minimap_frag = "yes"
    minimap_optF = 2000
    minimap_optk = 21
    minimap_optw = 11
    minimap_optA = 2
    minimap_optB = 8
    minimap_optO = "12,32"
    minimap_optE = "2,1"
    minimap_optr = 100
    minimap_optp = ".5"
    minimap_optN = 5
    minimap_optf = "1000,5000"
    minimap_optn = 3
    minimap_optm = 40
    minimap_opts = 40
    minimap_optg = 1000
    minimap_optheap = "yes"
    minimap_optsec = "no"

    // FREEBAYES
    freeb_targets = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/AMR/abt-resistance_20260820.bed"
    freeb_theta = 0.001
    freeb_ploidy = 1
    freeb_best_n = 2
    freeb_haplo_len = 1
    freeb_max_it = 10
    freeb_max_dep = 4
    freeb_min_mapqual = 1
    freeb_min_basequal = 0
    freeb_min_var = 4
    freeb_min_dep = 10

    // BCFTOOLS - filters
    bcf_min_freq = 0.05
    bcf_saf = 2
    bcf_sar = 2
    bcf_qa = 80

    // SNPEFF
    snpeff_amr_config = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/SnpEff/5.0.1/snpEff.config"
    snpeff_amr_scheme = "Legio_ATB"
    snpeff_other_config = ""
    snpeff_other_scheme = ""

    // SPADES + SEQKIT
    min_length_contig = 500

    // FASTFINDER, should NOT contain "/"
    fastfinder_desc = "Instrument ID(s),Analysis authorized by,AssayResultTargetCode"
    fastfinder_value = "NB5523331,Nextseq_IAI,WGS_SBT"

    // FASTANI
    fastani_genomes = "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/FastANI/liste_81_20260707.txt"
    fastani_min = 95

    // GRAPETREE
    grape_model = "MSTreeV2"

    // REPORTREE
    rep_interest = 6                                //could be 1 value or a list of threshold or cluster name
    rep_site_inclusion = 1.0
    rep_min_allele = 6                              //int or "none" for all clusters 
    rep_max_allele = "none"                         //int or "none" for one cluster at rep_min_allele
    rep_loci_called = 0.95
    rep_col_metadata = "ST"
    rep_col_report = "ST,Year,Origin"
    rep_model = "MSTreeV2"
    rep_analysis = "grapetree"

    // CHEWBBACA + GRAPETREE
    lb_set = [
        [
            genes: "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/chewBBACA/2608cgMLST_20260521_3-3-10",
            ptf: "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/chewBBACA/2608cgMLST_20260521_3-3-10/Legionella_longbeachae.trn",
            nb: 2608,
            grapetree: true,
            reportree: false
        ]
    ]
    lp_set = [
        [
            genes: "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/chewBBACA/1521cgMLST_20260521_3-3-10/schema",
            ptf: "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/chewBBACA/1521cgMLST_20260521_3-3-10/Legionella_pneumophila.trn",
            nb: 1521,
            grapetree: true,
            reportree: false
        ],
        [
            genes: "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/chewBBACA/4707cgMLST_20260521_3-3-10/L_pneumophila_wgMLST_schema",
            ptf: "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/chewBBACA/4707cgMLST_20260521_3-3-10/L_pneumophila_wgMLST_schema/Legionella_pneumophila.trn",
            lit: "/srv/net/cluqumngs/TMP_IAI/04_CNR_Legionella/NGS_Database/chewBBACA/2009cgMLST_LIT_20260724.txt",
            nb: 4707,
            grapetree: false,
            reportree: true
        ]
    ]

    // SPECIFIC ALLELES
    alleles_set = [
        [
            id: "lpLIT0656",
            name: "lag"
        ],
        [
            id: "lpLIT2833",
            name: "lpeA"
        ],
        [
            id: "lpLIT2834",
            name: "lpeB"
        ]
    ]
}

workDir = "${params.result}/work"
